/composer.phar
/box.phar
/vendor/
.php~
.idea
.DS_Store
*~
*.bak
._*
~*
.php_cs.cache

tests/coverage

# Auto-update
/docs/ez-old.phar

# Tests
/provisioning
/ezplatform
/.ezlaunchpad.yml

# Travis stuff
/.travis/build-key.pem
/.travis/ezlaunchpad-private.pem
/.travis/secrets.tar
/plantuml.jar

# others
/provisioning2ouf
/provisioning2
