/composer.phar
/box.phar
/ez.phar
/ez.phar.*
/vendor/
.php~
.idea
.DS_Store
*~
*.bak
._*
~*
.php_cs.cache

tests/coverage

# Auto-update
/docs/ez-old.phar

# Tests
/provisioning
/ezplatform
/.ezlaunchpad.yml

# Travis stuff
/build-key.pem
/ezlaunchpad-private.pem
/secrets.tar
/plantuml.jar

# others
/provisioning2ouf
/provisioning2
/data

# we do not want that at the root (usually generated when developing eZ Launchpad)
/ez_install.bash
/composer_install.bash
/ez_install_solr.bash

