<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
    backupGlobals="true"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    syntaxCheck="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false"
    verbose="true"
    bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="eZ Launchpad Test Suite">
            <directory suffix="Test.php">./Tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../src/</directory>
            <exclude>
                <file>../src/bootstrap.php</file>
                <file>../src/functions.php</file>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <env name="UNIT_TESTS" value="true"/>
    </php>
</phpunit>
