
a, a:hover, h1 i,h2 i,h3 i,h4 i,h5 i,h6 i {
    color: #E61851;
}


.container .text-muted {
    margin: 20px 0;
}

.highlight {
    position: relative;
}

.highlight .to-clipboard {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    padding: 5px 8px;
    font-size: 12px;
    color: #767676;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 0 4px 0 4px;
}

.ezlp-submenu li, .ezlp-submenu li a {
    height: auto;
}

.clickable {
    cursor:pointer;
}

.footer-content {
    color: #f2f2f2;
    background-color: #000;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-content a {
    color: #fff;
    text-decoration: none;
}

.copyright-content {
    background-color: #666;
    color: #BFBFBF;
    padding-top: 20px;
    padding-bottom: 20px;
}

.copyright-content a, .copyright-content a:hover {
    color: #ff4713;
}
