---
# Todo: put eZ Systems here
parameters:
    ez_phar: 'https://ezsystems.github.io/launchpad/ez.phar'
    ez_phar_version: 'https://ezsystems.github.io/launchpad/ez.phar.version'

services:

    ezlaunchpad_update.listener:
        class: eZ\Launchpad\Listener\ApplicationUpdate
        arguments:
            - {env: "%app_env%", dir: "%app_dir%", url: "%ez_phar%", version: "%ez_phar_version%"}
            - "@project_configuration"
        tags:
            - { name: kernel.event_listener, event: console.command, method: onCommandAction }

    ezlaunchpad_exception.listener:
        class: eZ\Launchpad\Listener\Exception
        tags:
            - { name: kernel.event_listener, event: console.error, method: onExceptionAction }
