name: CI

on: [push, pull_request]

jobs:

    lint:
        name: Coding Standard
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - name: Setup PHP
              uses: shivammathur/setup-php@master
              with:
                  php-version: 7.4
              id: php
            - name: Install dependencies
              run: composer install --prefer-dist --no-progress --no-suggest --no-interaction
            - name: Check Sources
              run: php vendor/bin/phpcs --standard=.cs/cs_ruleset.xml --extensions=php src/
            - name: Check Tests
              run: php vendor/bin/phpcs --standard=.cs/cs_ruleset.xml --extensions=php src/

    tests:
        name: Tests
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php: [7.2, 7.3, 7.4, 8.0]
        steps:
            - uses: actions/checkout@v1
            - name: Setup PHP
              uses: shivammathur/setup-php@master
              with:
                  php-version: ${{ matrix.php }}
              id: php
            - name: Validate composer.json and composer.lock
              run: composer validate
            - name: Install dependencies
              run: composer install --prefer-dist --no-progress --no-suggest --no-interaction
            - name: Show Versions
              run: composer info -i
            - name: PHP Unit
              run: php vendor/bin/phpunit -c tests/ --exclude-group behat
            - name: Behat
              run: php vendor/behat/behat/bin/behat -c tests/behat.yml


    ezplatform:
        name: eZ Platform
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php: [7.2, 7.3, 7.4, 8.0]
                ezversion: [1.13.*, 2.*, 3.*]
                collection: [collection-1x.json, collection-2x.json]
                exclude:
                    - ezversion: 1.13.*
                      collection: collection-2x.json
                    - ezversion: 2.*
                      collection: collection-1x.json
                    - ezversion: 3.*
                      collection: collection-1x.json
        steps:
            - uses: actions/checkout@v1
            - name: Setup PHP
              uses: shivammathur/setup-php@master
              with:
                  php-version: ${{ matrix.php }}
              id: php
            - name: Install dependencies
              run: composer install --prefer-dist --no-progress --no-suggest --no-interaction
            - name: Initialization
              run: php bin/ez-prod init ezsystems/ezplatform ${{ matrix.ezversion }} --no-interaction -vvv
            - name: Status Info
              run: php bin/ez-prod ps
            - name: Verification using Postman
              run: docker run --net=host -v $(pwd)/tests/postman:/etc/newman -t postman/newman_ubuntu1404 run ${{ matrix.collection }}

    ibexa:
        name: Ibexa
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php: [7.4, 8.0]
                ezversion: [3.*]
                collection: [collection-2x.json]
        steps:
            - uses: actions/checkout@v1
            - name: Setup PHP
              uses: shivammathur/setup-php@master
              with:
                  php-version: ${{ matrix.php }}
              id: php
            - name: Install dependencies
              run: composer install --prefer-dist --no-progress --no-suggest --no-interaction
            - name: Initialization
              run: php bin/ez-prod init ibexa/oss ${{ matrix.ezversion }} --no-interaction -vvv
            - name: Status Info
              run: php bin/ez-prod ps
            - name: Verification using Postman
              run: docker run --net=host -v $(pwd)/tests/postman:/etc/newman -t postman/newman_ubuntu1404 run ${{ matrix.collection }}
